@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .dark ::-webkit-scrollbar-thumb {
        background-color: #4b5563;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #ad7474;
    }
    ::selection { background: #7e5578; }
    .dark ::selection { background: #5d7597; }
    #scrollItem::-webkit-scrollbar {
        width: 5px;
    }    
    .dark #scrollItem::-webkit-scrollbar-thumb {
        background-color: #838383;
        border-radius: 10px;
    }
    
    #scrollItem::-webkit-scrollbar-thumb {
        background-color: #ffffffbd;
        border-radius: 10px
    }
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/font/montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'Buycat';
    src: url('../assets/font/buycat.ttf') format('truetype');
}

@font-face {
    font-family: 'Sakurata';
    src: url('../assets/font/sakurata.ttf') format('truetype');
}