---
import { changeLanguage } from "i18next";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import ItemTheme from "@/components/ItemTheme.astro";
import AnimateContourn from "@/components/AnimateContourn.astro";

changeLanguage("qh");

const semanas = await getCollection("semanas");
const semanasOrdenadas = semanas.sort((a, b) => a.data.numero - b.data.numero);
---

<Layout>
    <div class="flex justify-end w-full items-center pt-10">
        <div
            class="text-center bg-violet-500/70 rounded-lg p-2 w-full sm:w-[66.5%]"
        >
            <p class="text-sm sm:text-lg text-white font-semibold mb-2 min-h-5" id="title_week">
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-2 py-2 sm:pb-16">
        <div
            class="h-[11rem] sm:h-[30rem] border border-white/10 bg-white/20 backdrop-blur-2xl col-span-1 rounded-lg w-full"
        >
            <div
                class="flex gap-2 sm:gap-0 flex-col items-center justify-between sm:px-3 sm:py-10 p-2"
            >
                <div class="text-center mb-2 w-full">
                    <label
                        for="semanaSelector"
                        class="block text-sm font-medium text-white mb-1 text-center"
                    >
                        Filtrar temas por semana
                    </label>
                    <select
                        id="semanaSelector"
                        class="w-full p-2 border rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 text-sm dark:bg-cyan-200/30 bg-cyan-200/50 placeholder:text-white font-semibold
                        text-slate-500 dark:text-white border-white/20"
                    >
                        <option
                            class="text-sm text-slate-700 bg-cyan-200/40"
                            value="todas">Todas las semanas</option
                        >
                        {
                            semanasOrdenadas.map((semana) => (
                                <option
                                    class="text-sm text-slate-700 bg-cyan-200/40"
                                    value={semana.data.numero}
                                >
                                    Semana {semana.data.numero}
                                </option>
                            ))
                        }
                    </select>
                </div>
                <AnimateContourn
                    content="Crecimiento de mujeres en roles tech en los últimos 5 años"
                />
            </div>
        </div>
        <div
            id="scrollItem"
            class="col-span-2 rounded-lg overflow-y-scroll h-[30rem] sm:h-[30rem]"
        >
            <div class="space-y-2">
                {
                    semanasOrdenadas.map((semana) => (
                        <div
                            class="semana-container space-y-2"
                            data-semana={semana.data.numero}
                        >
                            {semana.data.temas.map((tema) => (
                                <ItemTheme data={tema} />
                            ))}
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</Layout>

<script>
    function filtrarPorSemana(semanaSeleccionada: string) {
        const contenedores = document.querySelectorAll(".semana-container");

        contenedores.forEach((contenedor) => {
            const semanaNumero = contenedor.getAttribute("data-semana");
            if (
                semanaSeleccionada === "todas" ||
                semanaNumero === semanaSeleccionada
            ) {
                (contenedor as HTMLElement).style.display = "block";
            } else {
                (contenedor as HTMLElement).style.display = "none";
            }
        });
    }

    document.addEventListener("DOMContentLoaded", () => {
        const selector = document.getElementById(
            "semanaSelector",
        ) as HTMLSelectElement;
        const title_week = document.getElementById(
            "title_week",
        ) as HTMLSelectElement;
        selector.value = "1";
        title_week.innerText = "Semana " + selector.value;
        filtrarPorSemana(selector.value);

        selector?.addEventListener("change", (e) => {
            const selectedValue = (e.target as HTMLSelectElement).value;
            filtrarPorSemana(selectedValue);
            title_week.innerText = "Semana " + selectedValue;
        });
    });
</script>
