---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <div class="flex flex-col justify-center content-center items-center h-svh space-y-7 text-center">
        <h1 class="font-buycat text-9xl">404</h1>
        <p class="font-buycat text-4xl">Página no encontrada</p>
        <a href="/" class="font-buycat text-2xl px-8 py-2 bg-violet-500/70 rounded-lg hover:scale-105">Volver</a>
    </div>
</Layout>