---
import IconArrowUp from "@/icons/IconArrowUp.astro";
import TooltipCursor from "./TooltipCursor.astro";
const { data } = Astro.props;
---

<a href={`/temas/${data.slug}`}
    class="px-4 py-3 w-full flex justify-between items-center content-center border rounded-lg bg-white/10 border-white/20 hover:bg-white/20 backdrop-blur-lg cursor-pointer relative group"
>
    <p class="text-xs sm:text-sm font-bold">{data.titulo}</p>
    <IconArrowUp className="rotate-90 w-5 h-5 bottom-1/3" />
    <TooltipCursor label="Ver detalles" position="bottom-1/4 right-5" />
</a>