---
import Logo from "@assets/logo.webp";
import { getRelativeLocaleUrl } from "astro:i18n";
const currentLang = Astro.currentLocale || "es";
---

<a href={getRelativeLocaleUrl(currentLang, "/")}>
  <div
      class="font-buycat text-xl sm:text-3xl font-bold flex items-center justify-center"
  >
      <img
          src={Logo.src}
          alt="Logo"
          class="h-7 w-7 sm:w-8 sm:h-8 pb-1 sm:pb-[6px] object-contain"
      />

      <div class="flex items-center">ARMI</div>
  </div>
</a>