---
import IconMoon from "@/icons/IconMoon.astro";
import IconSun from "@/icons/IconSun.astro";
import TooltipCursor from "./TooltipCursor.astro";
import type { languageList } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
const currentLang = Astro.currentLocale || "es";
const translateLabels = useTranslations(
    currentLang as keyof typeof languageList,
);
---

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const themeSwitcher = document.getElementById("themeSwitcher");

        const userTheme = localStorage.getItem("theme");
        const systemTheme = window.matchMedia(
            "(prefers-color-scheme: dark)",
        ).matches;

        const themeCheck = () => {
            if (userTheme === "dark") {
                document.documentElement.classList.add("dark");
            } else if (userTheme === "light") {
                document.documentElement.classList.remove("dark");
            } else {
                if (systemTheme) {
                    document.documentElement.classList.add("dark");
                } else {
                    document.documentElement.classList.remove("dark");
                }
            }
        };

        const themeSwitch = () => {
            if (document.documentElement.classList.contains("dark")) {
                document.documentElement.classList.remove("dark");
                localStorage.setItem("theme", "light");
            } else {
                document.documentElement.classList.add("dark");
                localStorage.setItem("theme", "dark");
            }
        };

        themeSwitcher?.addEventListener("click", () => {
            themeSwitch();
        });

        themeCheck();
    });
</script>
<button
    class="cursor-pointer bg-white/10 rounded-full transition-colors p-1.5"
    id="themeSwitcher"
>
    <p class="hidden dark:block relative group">
        <IconMoon className="w-5 h-5 sm:w-6 sm:h-6" />
        <TooltipCursor label={translateLabels("header.btn.theme.dark")} position="top-[36px] left-1/2"/>
    </p>
    <p class="block dark:hidden relative group">
        <IconSun className="w-5 h-5 sm:w-6 sm:h-6" />
        <TooltipCursor label={translateLabels("header.btn.theme.light")} position="top-[36px] left-1/2" />
    </p>
</button>
