<footer class="w-full flex justify-between items-center p-5 px-20 border-t border-white/10 pt-10">
    <h1>Shejs.tech</h1>
    <div class="flex gap-3">
        <a href="">G</a>
        <a href="">A</a>
        <a href="">L</a>
    </div>
</footer>