---
import IconGithub from "@/icons/IconGithub.astro";
import IconTiktok from "@/icons/IconTiktok.astro";
---

<footer class="w-full border-t border-white/10">
    <div
        class="flex items-center justify-between p-4 sm:p-5 px-4 sm:px-6 lg:px-10"
    >
        <h1 class="font-buycat text-lg sm:text-xl lg:text-2xl font-bold flex gap-1 items-center content-center justify-center ">
            <img src="/src/assets/logo.png" alt="Logo" class="w-7 h-7" />
            <span>
                {"ARMI"}
            </span>
        </h1>
        <div class="flex gap-2 sm:gap-3">
            <a
                target="_blank"
                href="https://github.com/kev1n01"
                class="hover:text-cyan-300 transition-opacity"
            >
                <IconGithub className="w-5 h-5 sm:w-6 sm:h-6" />
            </a>
            <a
                target="_blank"
                href="https://github.com/Transformacion-Digital-UDH"
                class="hover:text-indigo-500 transition-opacity"
            >
                <IconGithub className="w-5 h-5 sm:w-6 sm:h-6" />
            </a>
            <a
                target="_blank"
                href="https://www.tiktok.com/@transformaciondigitaludh"
                class="hover:hover:text-pink-500 transition-opacity"
            >
                <IconTiktok className="w-5 h-5 sm:w-6 sm:h-6" />
            </a>
        </div>
    </div>
</footer>
