---
import IconArrowUp from "@/icons/IconArrowUp.astro";
import { t } from "i18next";
---

<section class="pt-10 px-2 sm:px-5 md:px-10 xl:px-20 2xl:px-40" id="hero">
    <div
        class="flex flex-col items-center justify-between content-center gap-8 sm:gap-12 lg:gap-16"
    >
        <!-- <div class="text-center sm:text-start max-w-[25rem] sm:max-w-[30rem]">
            <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold">
                Descubre tu potencial en la programación
            </h1>
        </div> -->

        <!-- <div
            class="relative rounded-xl bg-gray-500/20 backdrop-blur-sm overflow-hidden"
            id="image-container"
        >
            <div class="absolute inset-0 flex items-center justify-center">
                <div
                    class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-indigo-200"
                    id="loading-spinner"
                >
                </div>
            </div>

            <img
                src="https://http.cat/status/404"
                alt="Random cat image"
                class=" inset-0 w-[15rem] h-[15rem] sm:w-[25rem] sm:h-[25rem] object-fill opacity-0 transition-opacity duration-300"
                id="cat-image"
            />

            <div
                class="absolute inset-0 hidden items-center justify-center flex-col"
                id="error-message"
            >
                <span class="text-lg sm:text-xl font-bold"
                    >Error al cargar la imagen</span
                >
                <button
                    class="mt-4 px-4 py-2 bg-white/10 rounded-lg hover:bg-white/20 transition-colors"
                    id="retry-button"
                >
                    Intentar de nuevo
                </button>
            </div>
        </div> -->

        <div
            class="h-auto w-full relative flex flex-col justify-center items-center space-y-12"
        >
            <img
                src="/src/assets/warmiuwu.png"
                alt="WarmiUwu"
                class="min-h-40 sm:min-h-72"
                loading="lazy"
            />
            <a
                href="/temas"
                class="rounded-full relative p-[4px] group overflow-hidden hover:shadow-white hover:shadow-[0_0_40px_rgba(255,255,255,1)] shadow-[0_0_10px_rgba(255,255,255,0.5)] transition-all"
            >
                <div
                    class="absolute inset-0 bg-gradient-to-r from-white via-[#EE7B79] to-cyan-300 dark:from-blue-400 dark:via-slate-500 dark:to-sky-400 animate-border"
                >
                </div>

                <div
                    class="text-black/80 relative px-2 py-1 sm:px-4 sm:py-2 font-semibold rounded-full bg-white  transition text-sm sm:text-base flex gap-1 items-center"
                >
                    {t("home.button")}
                    <IconArrowUp className="rotate-90 w-5 h-5" />
                </div>
            </a>
        </div>
    </div>
</section>

<script>
    import { CODE_HTTP } from "@/lib/codeError";

    const imageContainer = document.getElementById("image-container");
    const catImage = document.getElementById("cat-image");
    const loadingSpinner = document.getElementById("loading-spinner");
    const errorMessage = document.getElementById("error-message");
    const retryButton = document.getElementById("retry-button");

    const fetchCatRandom = async () => {
        try {
            if (loadingSpinner) loadingSpinner.style.display = "block";
            if (errorMessage) errorMessage.classList.add("hidden");
            if (catImage) catImage.style.opacity = "0";

            if (catImage) {
                const randomCode =
                    CODE_HTTP[Math.floor(Math.random() * CODE_HTTP.length)];
                console.log(randomCode);
                const img = new Image();
                img.src = `https://http.cat/${randomCode}.jpg`;

                img.onload = () => {
                    if (loadingSpinner) loadingSpinner.style.display = "none";
                    if (catImage) {
                        catImage.src = `https://http.cat/${randomCode}.jpg`;
                        catImage.style.opacity = "1";
                    }
                };

                img.onerror = () => {
                    throw new Error("Image failed to load");
                };
            }
        } catch (error) {
            console.error("Error fetching cat image:", error);
            if (loadingSpinner) loadingSpinner.style.display = "none";
            if (errorMessage) errorMessage.classList.remove("hidden");
        }
    };

    fetchCatRandom();

    if (retryButton) {
        retryButton.addEventListener("click", fetchCatRandom);
    }
</script>
