---

---

<section class="h-96 text-white pt-20" id="hero">
    <div class="grid grid-cols-12 gap-6">
        <div class="col-span-8 space-y-4 text-wrap w-[35rem]">
            <h1 class="text-5xl font-bold">
                Descubre tu potencial en la programación
            </h1>
            <p class="text-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consectetur doloremque aspernatur accusantium temporibus
                voluptatum soluta, quos aliquid placeat reprehenderit saepe
                aliquam illo voluptatibus distinctio, dolorem pariatur sapiente
                itaque ipsam modi.
            </p>
        </div>

        <div
            class="col-span-4 bg-gray-500 p-6 flex items-center justify-center h-full"
        >
            <span class="text-xl font-bold">ICONO 3D</span>
        </div>
    </div>

    <div class="mt-8 flex space-x-4">
        <div class="w-6 h-6 bg-gray-500 rounded-full"></div>
        <div class="w-6 h-6 bg-gray-500 rounded-full"></div>
        <div class="w-6 h-6 bg-gray-500 rounded-full"></div>
    </div>
</section>
