---
import { getRelativeLocaleUrl } from "astro:i18n";
import IconHome from "@/icons/IconHome.astro";
import IconTranslate from "@/icons/IconTranslate.astro";
const currentLang = Astro.currentLocale || "es";
import { UserButton } from "@clerk/astro/components";
import ThemeToogle from "@/components/ThemeToogle.astro";

---

<div class="sticky bottom-1 left-0 right-0 z-50 flex items-center justify-center w-full sm:w-1/2 2xl:w-1/3 h-16 bg-white dark:bg-black/50 backdrop-blur-sm sm:translate-x-1/2 2xl:translate-x-full rounded-3xl text-xs font-semibold" id="navbar-dots">
  <!-- Selector language -->
  <nav class="flex items-center justify-center gap-10">
    <a href={getRelativeLocaleUrl(currentLang, "/")} class="text-gray-800 hover:text-gray-600 dark:text-white transition-all duration-300 flex flex-col gap-1 items-center hover:scale-105">
      <div class="bg-black dark:bg-white rounded-full p-1.5">
        <IconHome
        className="w-5 h-5 sm:w-6 sm:h-6 text-white dark:text-black"
        />
      </div>
      Inicio
    </a>
    <button class="text-gray-800 hover:text-gray-600 dark:text-white transition-all duration-300 flex flex-col gap-1 items-center hover:scale-105">
      <div class="bg-black dark:bg-white rounded-full p-1.5">
        <IconTranslate
        className="w-5 h-5 sm:w-6 sm:h-6 text-white dark:text-black"
        />
      </div>
      Traducir
    </button>
    <div class="flex flex-col gap-1 items-center hover:scale-105 text-black dark:text-white transition-all duration-300">
      <ThemeToogle className="!bg-black dark:!bg-white text-white dark:text-black"/>
      Tema
    </div>
    <div class="text-gray-800 hover:text-gray-600 dark:text-white duration-300 flex flex-col gap-0 items-center justify-center content-center hover:scale-105 transition-all">
        <div class="size-[38px] bg-white dark:bg-white/10 rounded-full">
          <UserButton  />
        </div>
        <p class="text-xs">Cuenta</p>
    </div>

  </nav>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        let path = window.location.pathname;
        if (path === "/" || path === "/en/" || path === "/qh/" || path === "/en" || path === "/qh") {
            const navbardots = document.querySelector("#navbar-dots") as HTMLElement;
            if (navbardots) navbardots.style.display = "none";
        }
    });
</script>