---
import { getRelativeLocaleUrl } from "astro:i18n";
import IconHome from "@/icons/IconHome.astro";
import IconTranslate from "@/icons/IconTranslate.astro";
import IconChat from "@/icons/IconChat.astro";
const currentLang = Astro.currentLocale || "es";
// import ThemeToogle from "@/components/ThemeToogle.astro";
import { useTranslations } from "@/i18n/utils";
import { languageList } from "@/i18n/ui";
import UserAuthButton from "@/components/UserAuthButton.astro";
import { SignedIn } from "@clerk/astro/components";
import SelectLang from "@/components/SelectLang.astro";

const translateLabels = useTranslations(
    currentLang as keyof typeof languageList,
);
---

<div class="sticky bottom-1 left-0 right-0 z-50 flex items-center justify-center w-full sm:w-1/2 2xl:w-1/3 h-16 bg-white/60 dark:bg-black/50 backdrop-blur-lg sm:translate-x-1/2 2xl:translate-x-full text-xs font-semibold rounded-xl border border-white/10 shadow-inner shadow-white/50" id="navbar-dots">
  <!-- Selector language -->
  <nav class="flex items-center justify-center gap-10">
    <a href={getRelativeLocaleUrl(currentLang, "/temas")} class="text-gray-800 hover:text-gray-600 dark:text-white transition-all duration-300 flex flex-col gap-1 items-center hover:scale-105">
      <div class="bg-black/70 dark:bg-white/70 rounded-full p-1">
        <IconHome
        className="w-5 h-5 sm:w-6 sm:h-6 text-white dark:text-black"
        />
      </div>
      {translateLabels('dot.home')}
    </a>
    <a href={getRelativeLocaleUrl(currentLang, "/warmichat")} class="text-gray-800 hover:text-gray-600 dark:text-white transition-all duration-300 flex flex-col gap-1 items-center hover:scale-105">
      <div class="bg-black/70 dark:bg-white/70 rounded-full p-1">
        <IconChat
        className="w-5 h-5 sm:w-6 sm:h-6 text-white dark:text-black"
        />
      </div>
      {translateLabels('dot.chatbot')}
    </a>
    <button class="text-gray-800 hover:text-gray-600 dark:text-white transition-all duration-300 flex flex-col gap-1 items-center hover:scale-105" id="select-lang">
      <div class="bg-black/70 dark:bg-white/70 rounded-full p-1">
        <IconTranslate
        className="w-5 h-5 sm:w-6 sm:h-6 text-white dark:text-black"
        />
      </div>
      Traducir
    </button>

    <!-- <div class="flex flex-col gap-1 items-center hover:scale-105 text-black dark:text-white transition-all duration-300">
      <ThemeToogle className="!p-1 !bg-black/70 dark:!bg-white/70 text-white dark:text-black"/>
      {translateLabels('dot.theme')}
    </div> -->

    <div class="text-gray-800 hover:text-gray-600 dark:text-white duration-300 flex flex-col gap-1 items-center justify-center content-center hover:scale-105 transition-all">
        <SignedIn class="size-[32px]">
          <div class="size-[32px] bg-black/70 dark:bg-white/70 rounded-full">
            <UserAuthButton />
          </div>
        </SignedIn>
        <p class="text-xs">{translateLabels('dot.account')}</p>
    </div>

  </nav>
</div>
<SelectLang className="!top-[68%] !right-[30%] xs:!top-[68%] xs:!right-[30%] xl:!top-[68%] xl:!right-[43%] 2xl:!top-[78%] 2xl:!right-[45%]" />
  