---

---

<section class="h-auto py-20 px-20" id="sponsors">
    <div class="text-center mb-8">
        <h2 class="text-4xl font-bold">Sponsors locales</h2>
    </div>

    <div class="grid grid-cols-12 gap-4">
        <!-- Primera fila de Sponsors -->
        <div
            class="col-span-2 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-2 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-2 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-2 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-2 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-2 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
    </div>

    <div class="grid grid-cols-12 gap-4 mt-8">
        <!-- Segunda fila de Sponsors -->
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
    </div>

    <div class="grid grid-cols-12 gap-4 mt-8">
        <!-- Tercera fila de Sponsors -->
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            LTD
        </div>
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            ISI
        </div>
    </div>

    <div class="text-center mt-8">
        <h2 class="text-4xl font-bold">Presentado por</h2>
    </div>

    <div class="grid grid-cols-12 gap-4 mt-4">
        <!-- Fila de Presentado por -->
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            LTD
        </div>
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            ISI
        </div>
    </div>
</section>
