---

---

<section class="h-auto pt-10 pb-10 px-20" id="sponsors">
    <!-- <div class="text-center mb-8">
        <h2 class="text-2xl font-bold">Sponsors locales</h2>
        <i
            class="border-b-2 border-pink-400 dark:border-blue-400 h-2 w-16 inline-block"
        ></i>
    </div> -->

    <!-- <div class="grid grid-cols-12 gap-4">
        <div
            class="col-span-2 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-2 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-2 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-2 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-2 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-2 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
    </div>

    <div class="grid grid-cols-12 gap-4 mt-8">
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
    </div>

    <div class="grid grid-cols-12 gap-4 mt-8">
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            LTD
        </div>
        <div
            class="col-span-4 bg-gray-800 p-4 flex items-center justify-center"
        >
            ISI
        </div>
    </div> -->

    <div class="grid grid-cols-4 gap-4 mt-10 justify-center items-center content-center">
        <div class="col-span-1 text-center flex gap-2 justify-center content-center">
            <h2 class="text-lg font-medium text-white/70">Presentado por</h2>
            <i class="border-e-2 border-pink-400 dark:border-blue-400 h-6"></i>
        </div>

        <!-- Fila de Presentado por -->
        <div
            class="col-span-1 bg-gray-800 p-4 flex items-center justify-center"
        >
            UDH
        </div>
        <div
            class="col-span-1 bg-gray-800 p-4 flex items-center justify-center"
        >
            LTD
        </div>
        <div
            class="col-span-1 bg-gray-800 p-4 flex items-center justify-center"
        >
            PAISI
        </div>
    </div>
</section>
