---
import Footer from "@/partials/Footer.astro";
import Header from "@/partials/Header.astro";
import ButtonTop from "@/components/ButtonTop.astro";
import "../styles/global.css";
import i18next, { t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
---

<!doctype html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{t("site.title")}</title>
		<meta name="description" content={t("site.description")} />
		<HeadHrefLangs />
	</head>
	<body class="relative bg-slate-900 text-white px-10 py-3 font-monts ">
		<div
			class="absolute inset-0 bg-gradient-to-br from-purple-400 via-teal-100 to-pink-500 opacity-60 animate-pulse blur-2xl dark:from-[#2C3E50] dark:to-[#000000] dark:via-white/30"
		>
		</div>
		<div
			class="absolute inset-0 bg-gradient-to-tr from-purple-400 via-pink-400 to-cyan-300 opacity-50 blur-3xl dark:from-transparent dark:to-transparent dark:via-transparent animate-pulse"
		>
		</div>

		<div
			class="relative flex flex-col min-h-screen mx-auto sm:mx-20 md:mx-30 lg:mx-40 xl:mx-52 2xl:mx-60"
		>
			<Header />
			<main class="flex-grow">
				<slot />
			</main>
			<ButtonTop />
			<Footer />
		</div>
		<script>
			let previosTitle = document.title;
			const currentLocale = document.documentElement.lang;
			let title_blur = ''
			
			if (currentLocale === "en") {
				 title_blur = "Dont let go";
			}

			if (currentLocale === "es") {
				 title_blur = "No te vayas";
			}

			if (currentLocale === "qh") {
				 title_blur = "Ama Ripuychu";
			}


			window.addEventListener("blur", () => {
				previosTitle = document.title;
				document.title =  title_blur + "🥺💔";
			});

			window.addEventListener("focus", () => {
				document.title = previosTitle;
			});
		</script>
	</body>
</html>

<style is:global>
	html,
	body {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
		height: 100dvh;
		width: 100%;
		margin: 0;
		padding: 0;
	}
</style>
